.lobby__container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
    width:100vw;
}

.lobby__menu{
    background-color: #fff;
    border-right: 1px solid  #E4E4E4;
    padding: 20px 40px;
    height: inherit;
}

.lobby__heading{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 56px;
    letter-spacing: 0.2px;

    color: #707EFF;
}

.lobby__content{
    overflow: scroll;
}

.lobby-menu__content{
    margin-top:20vh;
    display: flex;
    flex-direction: column;
    gap:3vh;


    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 56px;

    letter-spacing: 0.2px;

    color: #6B6B6B;
}

.company{
    position: absolute;
    bottom:0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 56px;

    display: flex;
    align-items: center;
    letter-spacing: 0.2px;

    color: #000000;
}

.active{
    color: black;
}

.sidebar__container{
    height: 100%;

}
.sidebar__container::-webkit-scrollbar{
    display: none;
}

a{
    text-decoration: none;
    color: black;
}
a:active{
    color: black;
}