.heading{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 56px;
    color: #373F41;
    margin-bottom: 10vh;
}

.registration__container{
    display: inline-flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:3vh;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle__reg{
    display:flex;
    justify-content: center;
    align-items: center;

    gap:50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
}

.reg-input{
    width:100%!important;
}

.password-refresh{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-decoration: underline;
    color: #404040;
}

.reg-btn{
    width:100%;
}

.vk-button{
    display: flex;
    justify-content: center;
    gap:32px;
    height:26px;
}

.vk-button__img{
    width:44px;
}
.vk-button__text{
    margin:0px;
    vertical-align: middle;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.google-btn{
    background-color: #fff!important;
    border: 1px solid #eee!important;
}
.google-text-color{
    color:#3C3C3C;
}

.or-container{
    display: flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    width:100%;
}
.line{
    width:100%;
    height:1px;
    background-color:#EDEDED;
}
.or-content{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 56px;

    color: #676767;
}

.vk-btn{
    background-color: #5671FE!important;
}

.disabled{
    color:#5A5A5A;
}

.heading-evgen-app{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 56px;
    color: #373F41;
    margin-bottom: 10vh;
}